@import "variables";
@import "header";
@import "navbar";
@import "main-body";
@import "contact-us";
@import "menu";
@import "gallery";
@import "footer";
@import "ScrollToTop";
@import "MenuTable";
@import "mixins";

html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    background-color: $body-background-color;
}
.custom-container{
    padding-right: 8%;
    padding-left: 8%;
    margin-right: auto;
    margin-left: auto;
}







