@import "variables";
@import "header";
@import "navbar";
@import "main-body";
@import "contact-us";
@import "menu";
@import "gallery";
@import "footer";
@import "ScrollToTop";
@import "MenuTable";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@300;500&family=Roboto+Slab&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    background-color: $body-background-color;
}
.custom-container{
    padding-right: 8%;
    padding-left: 8%;
    margin-right: auto;
    margin-left: auto;
}

h1{
    font-family: $h1;
}

h3{
    font-family: $h3;
    font-weight: bolder;
}

p{
    font-family: $p;
}







