.nonveg{
    height: 20rem;
    background-image: url("/src/images/menuNonveg.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.veg{
    height: 25rem;
    background-image: url("/src/images/menuVeg.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.menu-title{
    text-align: center;
}

.menu-div{
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem 0;
    border-radius: 1rem;
    background-color: $body-background-color;
    box-shadow: 0 8px 15px 1px #888888;
}




