@import "mixins";

.apetizers{
    @include background-fix;
    background-image: url("/src/images/apetizers.jpg");
}

.special_mocktail{
    @include background-fix;
    background-image: url("/src/images/special_mocktail.jpg");
}

.veg_soup{
    @include background-fix;
    background-image: url("/src/images/veg_soup.jpg");
}

.chicken_soup{
    @include background-fix;
    background-image: url("/src/images/chicken_soup.jpg");
}

.veg_starters{
    @include background-fix;
    background-image: url("/src/images/veg_starters.jpg");
}

.egg_starters{
    @include background-fix;
    background-image: url("/src/images/egg_starter.jpg");
}

.non_veg_starters{
    @include background-fix;
    background-image: url("/src/images/non_veg_starter.jpg");
}

.fish_items{
    @include background-fix;
    background-image: url("/src/images/fish_fry.jpg");
}

.veg_tandoori{
    @include background-fix;
    background-image: url("/src/images/tandooi_starters.jpg");
}

.non_veg_tandoori{
    @include background-fix;
    background-image: url("/src/images/tandoori_nonveg.jpg");
}

.noodles{
    @include background-fix;
    background-image: url("/src/images/noodles.jpg");
}

.sizzlers{
    @include background-fix;
    background-image: url("/src/images/sizzler.jpg");
}

.veg_main_course{
    @include background-fix;
    background-image: url("/src/images/veg_main_course.jpg");
}

.menu-title{
    text-align: center;
}

.menu-div{
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem 0;
    border-radius: 1rem;
    background-color: $body-background-color;
    box-shadow: 0 8px 15px 1px #888888;
}

.table{
    text-align: center;
    width: 100%;
}

.dots_cuesine{
    position: relative;
    z-index: 1;
    width: 50%;
}

.table_cuesine_background{
    background-color: $body-background-color; 
}

.dots_cuesine::after{
    content: "";
    width: 50%;
    height: 2px;
    border-bottom: 2px dotted black;
    position: absolute;
    top: 60%;
    right: 0;
    z-index: -1;
}


.dots_price{
    position: relative;
    z-index: 1;

}

.table_price_background{
    background-color: $body-background-color; 
}

.dots_price::after{
    content: "";
    width: 50%;
    height: 2px;
    border-bottom: 2px dotted black;
    position: absolute;
    top: 60%;
    left: 0;
    z-index: -1;
}



