.h-nav{
    background-color: transparentize($color: $hnav-background, $amount: 0.5) !important;
    z-index: 1;
    
    a{
        color: $hnav-link-color !important;
    }

    @media only screen and(max-width: 960px){
        text-align: center;
    }
    transition-timing-function: ease-in-out;
    transition: all 0.3s;
}
.h-nav.change{
    background-color: $rnav-background-color !important;
}


.r-nav{
    background-color: $rnav-background-color !important;
    a{
        color: $hnav-link-color !important;
    }
    @media only screen and(max-width: 960px){
        text-align: center;
    }
}

.custom-nav-list{
    padding: 1rem;
}

.custom_icon{
    color: #F0A500;
    font-size: 2rem;
    padding: 0.5rem;
    &:hover{
        color: darken($color: #F0A500, $amount: 5%);
        transform: rotate(45deg);
    }
}