//===COLORS===
$body-background-color: #D5EEBB;
$hnav-background: #000;
$rnav-background-color: #444941;
$hnav-link-color: #fff;
$header-text: red;
$contactUs-color: #fff;
$contactUs-background-color: #5F7A61;
$contactus-icon-color: #fff;
$footer-color: #F6A705;
$footer-background0color: #444941;
$scroll-top-color: #ffffff;
$scorll-top-background: $rnav-background-color;